<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinlu.bi.system.mapper.SystemUserGroupMapper">

    <resultMap id="BaseResultMap" type="com.yinlu.bi.system.domain.SystemUserGroup">
            <result property="groupId" column="GroupId" jdbcType="INTEGER"/>
            <result property="groupName" column="GroupName" jdbcType="VARCHAR"/>
            <result property="status" column="Status" jdbcType="BIT"/>
            <result property="createOn" column="CreateOn" jdbcType="TIMESTAMP"/>
            <result property="modifiedOn" column="ModifiedOn" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        GroupId,GroupName,Status,
        CreateOn,ModifiedOn
    </sql>
</mapper>
