<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yinlu.bi.system.mapper.SystemReportServiceMapper">

    <resultMap id="BaseResultMap" type="com.yinlu.bi.system.domain.SystemReportService">
            <id property="RId" column="RId" jdbcType="INTEGER"/>
            <result property="RName" column="RName" jdbcType="VARCHAR"/>
            <result property="RPId" column="RPId" jdbcType="INTEGER"/>
            <result property="RUrl" column="RUrl" jdbcType="VARCHAR"/>
            <result property="RPName" column="RPName" jdbcType="VARCHAR"/>
            <result property="createOn" column="CreateOn" jdbcType="TIMESTAMP"/>
            <result property="modifiedOn" column="ModifiedOn" jdbcType="TIMESTAMP"/>
            <result property="isHome" column="IsHome" jdbcType="BIT"/>
            <result property="status" column="status" jdbcType="BIT"/>
            <result property="RSort" column="RSort" jdbcType="INTEGER"/>
            <result property="picClass" column="PicClass" jdbcType="VARCHAR"/>
            <result property="isUserControl" column="IsUserControl" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        RId,RName,RPId,
        RUrl,RPName,CreateOn,
        ModifiedOn,IsHome,status,
        RSort,PicClass,IsUserControl
    </sql>
</mapper>
